{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>BLOG Author Page</h1>

<form action="">
    {{form}}

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<a href="{% url 'author_list' %}" class="btn btn-danger">Clear</a>



<!-- <a href="/blog/author_list/">Clear</a> -->
<br>

{% for author in author_list %}

<img src="{% static 'images/user_icon.png' %}" style="height: 100px; width: 100px;" alt="">
<h2>{{author.name}}</h2>
<p>ID: {{author.id}}</p>
<p>Age: {{author.age}}</p>
<p>Email: {{author.email}}</p>
<!-- <a href="/blog/edit_author/{{author.id}}/">Edit</a> -->
<a href="{% url 'edit_author' author.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'delete_author' author.id %}" class="btn btn-danger">Delete</a>

<hr>
{% endfor %}
{% endblock content %}



