{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>BLOG Author Page</h1>
{{request.user}}
<a href="{% url 'logoutPage' %}" class="btn btn-danger">LOGOUT</a>
<form action="">
    {{form}}

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<a href="{% url 'author_list' %}" class="btn btn-danger">Clear</a>

<a href="{% url 'create_author' %}" class="btn btn-primary">Create Author</a>


<!-- <a href="/blog/author_list/">Clear</a> -->
<br>

{% for author in author_list %}

{% if author.photo %}
<img src="{{author.photo.url}}" style="height: 100px; width: 100px;" alt="">
{% else %}
<img src="{% static 'images/user_icon.png' %}" style="height: 100px; width: 100px;" alt="">
{% endif %}
<h2>{{author.name}}</h2>
<p>ID: {{author.id}}</p>
<p>Age: {{author.age}}</p>
<p>Email: {{author.email}}</p>
<!-- <a href="/blog/edit_author/{{author.id}}/">Edit</a> -->
<a href="{% url 'edit_author' author.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'delete_author' author.id %}" class="btn btn-danger">Delete</a>

<hr>
{% endfor %}
{% endblock content %}



